* {
    padding: 0;
    margin: 0;
}
body {
    font-family:'Times New Roman', Times, serif;
}

header {
    background-color: rgb(77,93,83);
    text-align: center;
    width: 100%;
    display: inline-block;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
}

ol {
    list-style: none;
    width: 100%;
    overflow: hidden;
    background-color: #000;
    position: sticky;
}
li {
    float: left;
}
li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #2b2b2b;
}

.content {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

article {
    padding: 4px;
    box-shadow: 1px 1px #0000;
    border-radius: 4px;
}

article img {
    min-height: 500px;
    width: 100%;
    border-radius: 2px;
    object-fit: cover;
    object-position: center;
}

article g {
    margin-top: 20px;
    text-indent: 20px;
}

aside {
    padding: 20px;
    margin: 0 auto;
}

footer {
    padding: 20px;
    background-color: rgb(77,93,83);
    text-align: center;
    color: #fff;
}

@media all and (max-width: 1000px) {
    ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }
    ul li {
        display: inline-block;
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    aside h2,
    table {
        text-align: center;
    }
    table {
        margin: auto;
    }
}

